<div class="limiter">

    <div id="fb-root"></div>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">


                <span class="login100-form-title p-b-34 p-t-27">Log in / Sign Up </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="username" placeholder="Username" [(ngModel)]='user.login'>

                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]='user.password'>
                </div>
                <div id="fb-login-button"></div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)='submitForm()'> Login </button>
                </div>

                <div class="logo">
                    <img src="../../../assets/images/facebook.png" class=" facebook" (click)='submitfacebook()' alt="facebook" />
                </div>



                <div class="text-center p-t-90">
                </div>
            </form>
        </div>
    </div>
</div>